-r requirements.txt
git+https://github.com/George-Ogden/mirror-rorrim; python_version >= "3.12"
git+https://github.com/George-Ogden/mypy-pytest; python_version >= "3.12"
GitPython
pip
pre-commit
prek
py-spy
pytest>=9.0.0
pytest-timeout
pytest-xdist
ruff==0.15.8
wcwidth
