name: README Check

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  readme-check:
    uses: George-Ogden/actions/.github/workflows/readme-check.yaml@v4.0.0
    with:
      prefix: "rev: v"
